<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0;padding: 0;">

<head style="margin: 0;padding: 0;">
    <meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;">
    <title style="margin: 0;padding: 0;">Cocha Viajes</title>
    <style type="text/css" style="margin: 0;padding: 0;">
        h1,
        h2,
        li,
        p {
            color: #5b5b5f
        }

        body,
        table {
            height: 100%
        }

        * {
            margin: 0;
            padding: 0;

            font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif
        }

        img {
            margin: 1px 0;
            max-width: 100%
        }

        .collapse {
            margin: 0;
            padding: 0
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%!important
        }

        h3 {
            font-size: 14px
        }

        h2 {
            font-size: 20px
        }

        h1 {
            margin-bottom: -10px;
            padding: 5px;
            font-size: 25px
        }

        p {
            padding: 2px 5px 5px
        }

        b {
            padding: 8px 0
        }

        .p-xsmall,
        .p-xsmall b {
            font-size: 10px
        }

        p-nolineh {
            line-height: 0
        }

        ul {
            padding-left: 25px
        }

        li {
            padding: 5px 0
        }

        table {
            border-collapse: collapse
        }

        .smoth,
        .smoth * {
            color: #989292
        }

        .t-header {
            height: 15px;
            background-color: #5b5b5f;
            color: #fff;
            padding: 10px
        }

        .td-space {
            width: 30%
        }

        .banner,
        .content table,
        .head-wrap,
        table.body-wrap {
            width: 100%
        }

        .header.container table td.logo {
            padding: 15px
        }

        .header.container table td.label {
            padding: 15px 15px 15px 0
        }

        .no-wrap {
            white-space: nowrap
        }

        table.footer-wrap {
            width: 100%;
            clear: both!important
        }

        .footer-wrap .container td.content p {
            border-top: 1px solid #d7d7d7;
            padding-top: 15px;
            font-size: 10px;
            font-weight: 700
        }

        .bordes {
            border: 1px solid #d3d3d3
        }

        .borde-left {
            border-left: 1px solid #d3d3d3
        }

        .borde-right {
            border-right: 1px solid #d3d3d3
        }

        .borde-bottom {
            border-bottom: 1px solid #d3d3d3
        }

        .borde-top {
            border-top: 1px solid #d3d3d3
        }

        .full-h {
            height: 100%
        }

        .wrapper {
            margin: auto;
            max-width: 700px
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.1;
            padding-left: 5px
        }

        .container {
            display: block!important;
            margin: 0 auto!important;
            clear: both!important
        }

        .clear,
        .content,
        .desktop {
            display: block
        }

        .content {
            padding: 10px 5px 0;
            margin: 0 auto
        }

        .no-padding {
            padding: 0!important
        }

        .pad-v-2 {
            padding-top: 2px;
            padding-bottom: 2px
        }

        .pad-h-2 {
            padding-left: 2px;
            padding-right: 2px
        }

        .column {
            width: 300px;
            float: left
        }

        .column tr td {
            padding: 15px
        }

        .column-wrap {
            padding: 0!important;
            margin: 0 auto;
            max-width: 700px!important
        }

        .column table {
            width: 100%
        }

        .clear {
            clear: both
        }

        .responsive {
            display: none
        }

        @media only screen and (max-width:700px) {
            h3,
            p {
                font-size: 12px
            }
            h2 {
                font-size: 15px
            }
            h1 {
                font-size: 20px
            }
            small {
                font-size: 11px
            }
            .p-xsmall,
            .p-xsmall b {
                font-size: 10px
            }
            .td-space {
                width: 10%
            }
            .desktop {
                display: none
            }
            .responsive {
                display: block
            }
        }
    </style>
</head>

<body style="margin: 0;padding: 0;height: 100%;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;width: 100%!important;">
    <div class="wrapper bordes" style="margin: auto;padding: 0;border: 1px solid #d3d3d3;max-width: 700px;">
        <table class="head-wrap" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="header container" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" style="margin: 0;padding: 0;"> <a href="http://www.cocha.com" style="margin: 0;padding: 0;"> <img style="width: 100%;margin: 1px 0;padding: 0;max-width: 100%;" src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/bd468681-479b-470f-b77b-cf5004b52ef2.png" alt="Header"> </a></td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                    <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">OPCIONES DE PAGO</h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="margin: 0;padding: 0;"></td>
            </tr>
        </table>
        <table class="body-wrap" bgcolor="" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="container" bgcolor="#FFFFFF" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin-top: 15px;margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" style="margin: 0;padding: 0;">
                                    <h2 style="text-align: center;margin: 15px;padding: 0;font-size: 25px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">¡En COCHA.com estamos esperando por tí!</h2>
                                    <p style="text-align: center;font-size: 13px;color:#5b5b5f">A continuación encontrarás la información para realizar el pago de tu reserva ¡Ten presente
                                        que es por tiempo limitado, no te quedes abajo!</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Datos de contacto</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" style="margin: 0;padding: 0;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0; width: 50%">
                                                    <div style="margin: 0; border-left: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3">
                                                        <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b>Nombre</b></p>
                                                        <p style="font-size: 13px;margin: 0 0 0 1px;padding: 0px 5px 5px;color: darkgray;">{{contactFullName}}</p>
                                                        <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b>E-Mail</b></p>
                                                        <p style="font-size: 13px;margin: 0 0 0 1px;padding: 0px 5px 5px;color: darkgray;">{{contactEmail}}</p>
                                                    </div>
                                                </td>
                                                <td valign="top" style="margin: 0;padding: 0; width: 50%">
                                                    <div style="margin: 0; border-left: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; border-right: 1px solid #d3d3d3">
                                                        <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b>Teléfono de contacto</b></p>
                                                        <p style="font-size: 13px;margin: 0 0 0 1px;padding: 0px 5px 5px;color: darkgray;">{{contactPhone}}</p>
                                                        <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b>&nbsp;</b></p>
                                                        <p style="font-size: 13px;margin: 0 0 0 1px;padding: 0px 5px 5px;color: darkgray;">&nbsp;</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" style="margin: 0;padding: 0;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="width: 33%">
                                                    <div class="bordes" style="padding: 5px 0;margin: 0 5px 0 0;border: 1px solid #d3d3d3;">
                                                        <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">CÓDIGO DE SOLICITUD</p>
                                                        <p style="font-weight: 600; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{spnr}}</p>
                                                    </div>
                                                </td>
                                                <td valign="top" style="width: 33%">
                                                    <div class="bordes" style="padding: 5px 0;margin: 0 5px;border: 1px solid #d3d3d3;">
                                                        <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">VIGENCIA</p>
                                                        <p style="font-weight: 600; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{expireDateTime}}</p>
                                                    </div>
                                                </td>
                                                <td valign="top" style="width: 33%">
                                                    <div class="bordes" style="padding: 5px 0;margin: 0 0 0 5px;border: 1px solid #d3d3d3;">
                                                        <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">PRECIO</p>
                                                        <p style="font-weight: 600; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{amount}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td><p style="font-size: 12px; background-color: #fdf5e7; padding: 10px;">Es importante estés informado que los valores y vigencia de tu solicitud pueden variar. Solo el pago, confirmación y emisión de los servicios garantizará tu compra.</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td><h3 style="margin: 10px 0 5px;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">RESUMEN DEL VIAJE</h3></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                                  
                    <div style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td style="height: 100%;width: 50%;margin-top: 10px;margin: 0;padding: 0;">
                                    <table align="left" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                                <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Tu Viaje</h3>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <table align="right" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                                <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Datos del hotel</h3>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td valign="top" style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <table align="left" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-left full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Vuelo de ida</b></p>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{{flightDepDep}}}</p>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 0 10px;font-size: 10px;color: #989292;"><b>{{{flightDepCon}}}</p>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{{flightDepArr}}}</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-right full-h" style="min-height: 110px;margin: 0;padding: 0;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td align="right" valign="top" style="margin: 0;padding: 0;">
                                                                <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{departureLongDate}}</p>
                                                                <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{departureAirlineName}}</b></p>
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;">{{departureCabinType}}</p>
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;">Duración total &nbsp;{{departureElapsedTime}}</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <table align="right" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-left borde-right full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="text-align: center; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{hotelName}}</b></p>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="text-align:center; margin: 0;padding: 0;"> &nbsp; {{{hotelCatImg}}}</td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p class="smoth" style="text-align:center; margin: 0;padding: 6px 5px 5px;color: #989292;"><small style="margin: 0;padding: 0;color: #989292;">{{{hotelAddress}}}</small></p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td valign="top" style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <table align="left" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-left full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Vuelo de regreso</b></p>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{{flightRetDep}}}</p>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 0 10px;font-size: 10px;color: #989292;"><b>{{{flightRetCon}}}</p>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{{flightRetArr}}}</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-right full-h" style="min-height: 110px;margin: 0;padding: 0;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td align="right" valign="top" style="margin: 0;padding: 0;">
                                                                <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{returnLongDate}}</p>
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{returnAirlineName}}</b></p>
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;">{{returnCabinType}}</p>
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;">Duración total &nbsp;{{returnElapsedTime}}</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <div style="height: 100%;margin: 0;padding: 0;">
                                        <table align="right" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td style="margin: 0;padding: 0;">
                                                    <div class="borde-right borde-left borde-bottom full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td colspan="2" style="margin: 0;padding: 0;">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{{hotelPaxes}}}</p>
                                                                </td>
                                                            </tr>
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td style="max-width: 30px;margin: 0;padding: 0;">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Entrada</p>
                                                                </td>
                                                                <td align="right" style="margin: 0;padding: 0;">
                                                                    <p class="no-wrap" style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;white-space: nowrap;"><b style="margin: 0;padding: 8px 0;">{{hotelArrivalDate}}</b></p>
                                                                </td>
                                                            </tr>
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td style="margin: 0;padding: 0;">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Salida</p>
                                                                </td>
                                                                <td align="right" style="margin: 0;padding: 0;">
                                                                    <p class="no-wrap" style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;white-space: nowrap;"><b style="margin: 0;padding: 8px 0;">{{hotelDepartureDate}}</b></p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {{#if transfer}}
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Tu traslado</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td style="margin: 0;padding: 0; width: 50%">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div style="padding: 5px 0;margin: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;border-top: 1px solid #d3d3d3;">
                                                        <p><b>Ida</b></p>
                                                        <p style="font-size: 12px; margin-bottom: 0px;"><b><i>Desde</i></b></p>
                                                        <p style="font-size: 11px;">{{departureArrivalAirportName}}</p>
                                                        <p style="font-size: 12px; margin-bottom: 0px;"><b><i>Hasta</i></b></p>
                                                        <p style="font-size: 11px;">{{hotelName}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="margin: 0;padding: 0;width: 50%">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div style="padding: 5px 0;margin: 0;border: 1px solid #d3d3d3;">
                                                        <p><b>Vuelta</b></p>
                                                        <p style="font-size: 12px; margin-bottom: 0px;"><b><i>Desde</i></b></p>
                                                        <p style="font-size: 11px;">{{hotelName}}</p>
                                                        <p style="font-size: 12px; margin-bottom: 0px;"><b><i>Hasta</i></b></p>
                                                        <p style="font-size: 11px;">{{returnDepartureAirportName}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td style="margin: 0;padding: 0; width: 50%">
                                        <div style="padding: 5px 0;margin: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3; height:100%;">
                                            <p><b>Equipaje incluido(Cantidad y tamaño)</b></p>
                                            <p style="font-size: 11px;">1 Maleta de 23kg y 1 bolso de mano.</p>
                                            <p><b>Lugar de ubicación del traslado</b></p>
                                            <p style="font-size: 11px;">El conductor te estará esperando en el sector de llegada de vuelos con un cartel
                                                con tu nombre.</p>
                                        </div>
                                    </td>
                                    <td style="margin: 0;padding: 0;width: 50%">
                                        <div style="padding: 5px 0;margin: 0;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3; height:100%;">
                                            <p><b>Sillas de guagua</b></p>
                                            <p style="font-size: 11px;">Producto disponible con solicitud previa.</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/if}}
                    {{#if assistance}}
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Asistencia en viaje</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" style="margin: 0;padding: 0;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div class="bordes" style="padding: 5px 0;margin: 0;border: 1px solid #d3d3d3;">
                                                        <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b>Viaje protegido con Universal Assistance</b></p>
                                                        <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Plan: Travel Care Online</p>
                                                        <p style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Asistencia médica en caso de enfermedad o accidente: </p>
                                                        <ul>
                                                            <li style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Europa: EUR 30.000</li>
                                                            <li style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Sudamérica: USD 12.000</li>
                                                            <li style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Nacional: USD 2.500</li>
                                                            <li style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Resto del mundo: USD 20.00</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/if}}
                    <br style="margin: 0;padding: 0;">
                    <div class="content" style="margin-top: 20px;padding: 15px;background-color: rgb(247, 247, 248);margin: 0 auto;display: block;">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="font-family: Arial;font-size: 14px;vertical-align: top;">
                                        <p class="title" style="color: #5c5b60;font-size: 20px;font-weight: 700;">FORMAS DE PAGO</p>
                                        <p class="title" style="margin: 10px;color: #5c5b60;font-size: 17px;font-weight: 700;">Transferencia electrónica, tarjeta de crédito, o ambas.</p>
                                        <p style="margin: 10px;color: darkgrey;">
                                            Para realizar el pago a través de <b style="color:#5c5b60">Transferencia o déposito en efectivo</b>                                            debes realizar una transferencia a la siguiente cuenta bancaria:
                                        </p>
                                        <img src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/365945d9-3dfc-4f5d-b548-ff9bcdd063fe.png" style="width: 70px; margin: 5px 5px 0 10px;">
                                        <p style="margin: 5px 5px 5px 10px; color: #5c5b60;">Banco Crédito e Inversiones</p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            <span style="color:#5c5b60">Nombre cuenta:</span> Turismo Cocha S.A.
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            <span style="color:#5c5b60">Tipo de Cuenta:</span>Cuenta corriente
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            <span style="color:#5c5b60">Número:</span> 35415436
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            <span style="color:#5c5b60">Rut:</span> 81.821.100-7
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            Correo para envío de comprobante: <a href="mailto:">agenteinternet@cocha.com</a>
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            Recuerde ingresar el <b style="color:#5c5b60">código de su reserva</b> en los
                                            comentarios de la transfrerencia.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="background-color: rgb(247, 247, 248)">
                                            <ul>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Una vez realizado el pago, debe enviar el comprobante de transferencia o depósito al mail indicado,
                                                    <b style="color:red">indicando su código de solicitud</b> .
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">El pago con transferencia electrónica o depósito, solo podrá ser validado una vez recibido este<b style="color:#5c5b60">comprobante</b> .
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">A pesar de contar con el comprobante de transferencia o depósito, la reserva
                                                    está sujeta a cambios y variaciones sin previo aviso.</li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Depósitos en <b style="color:#5c5b60">cheques</b> no son aceptados como
                                                    forma de pago.
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Transferencias desde <b style="color:#5c5b60">bancos internacionales</b> no son válidas.
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Depósitos en Servipag <b style="color:#5c5b60">no</b> son válidos.
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="font-family: Arial;font-size: 14px;vertical-align: top;">
                                        <p class="title" style="margin: 10px;color: #5c5b60;font-size: 17px;font-weight: 700;">Tarjetas de crédito u otros medios de pago</p>
                                        <img src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/04ceeeb6-2021-4351-b2ec-6117b7fe9b02.png" style="width: 235px; margin: 0 10px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="background-color: rgb(247, 247, 248)">
                                            <ul>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Todos los pagos realizados de productos terrestres con Tarjetas de Crédito bancarias podrán ser realizados hasta en 3 cuotas sin interés (excluye tickets aéreos).</li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">A pesar de contar con la autorización para realizar el pago, la reserva y precios están sujetos a cambios y variaciones sin previo aviso.</li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Solo el envío de la documentación del viaje (Boletos aéreos y/o Vouchers de Hotel), garantizará su reserva.</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="font-family: Arial;font-size: 14px;vertical-align: top;">
                                        <div style="background-color: rgb(247, 247, 248)">
                                            <p class="title" style="padding-top: 20px;margin: 10px;color: #5c5b60;font-size: 17px;font-weight: 700;">Políticas de cancelación</p>
                                            <ul>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Esta tarifa no es reembolsable y no puede cambiarse ni cancelarse; si decides cambiar o cancelar este programa, no se te reembolsará nada del pago.</li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Pese a lo anterior, cualquier devolución total o parcial que voluntariamente realice el/los proveedor/es por servicios que no hayan sido utilizados, se entregará al cliente de forma posterior y descontadas las multas impuestas por los proveedores.</li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Los valores y vigencias de las reservas pueden variar sin previo aviso, y
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Para compras realizadas en www.cocha.com no aplica derecho a retracto establecido en la Ley 19.696 para compras no presenciales.</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table bgcolor="" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" style="margin: 0;padding: 0;">
                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">¿Dudas?</h2>
                                    <p class="smoth" style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #989292;">Si aún tienes dudas o consultas, contáctate con nosotros llamando al <b style="margin: 0;padding: 8px 0;color: #989292;">2 2464 1300</b>                                        - opción 2, o marca <b style="margin: 0;padding: 8px 0;color: #989292;">*1300</b>                                        (desde celulares), e indícanos el código de tu reserva.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <table class="footer-wrap" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;clear: both!important;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="container" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <div class="borde-top borde-bottom" style="padding: 15px;margin: 0;border-bottom: 1px solid #d3d3d3;border-top: 1px solid #d3d3d3;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td class="td-space" style="margin: 0;padding: 0;width: 30%;">&nbsp;</td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://www.facebook.com/Cochaviajes" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Facebook"></a></td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://twitter.com/cochaviajes" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Twitter"></a></td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg" target="_blank"
                                                        style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Youtube"></a></td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://instagram.com/cochaviajes/" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Instagram"></a></td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://pinterest.com/cochaviajes/" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-pinterest-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Pinterest"></a></td>
                                                <td class="td-space" style="margin: 0;padding: 0;width: 30%;">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">&nbsp;</td>
                            </tr>
                        </table>
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" style="margin: 0;padding: 0;">
                                    <p class="smoth" style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #989292;">Copyright 2016 | COCHA.com, All rights reserved. Turismo COCHA S.A. | El Bosque Norte
                                        0430, Las Condes, Santiago - Chile Ante cualquier duda puedes contactarte con nosotros
                                        al número <b style="margin: 0;padding: 8px 0;color: #989292;">22464 1300</b>, desde
                                        celulares al <b style="margin: 0;padding: 8px 0;color: #989292;">*1300</b> o escribirnos
                                        <a href="mailto:agenteinternet@cocha.com" style="margin: 0;padding: 0;color: #989292;">aquí</a>.</p>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">&nbsp;</td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" style="margin: 0;padding: 0;">
                                    <p class="smoth" style="font-size: 12px; margin: 0;padding: 6px 5px 5px;color: #989292;"> <a href="#" style="margin: 0;padding: 0;color: #989292;">Terminos y condiciones</a> |
                                        <a href="http://www.cocha.com/politicas-de-privacidad" style="margin: 0;padding: 0;color: #989292;">Políticas de privacidad</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="margin: 0;padding: 0;"></td>
            </tr>
        </table>
    </div>
</body>
</html>