
<style type="text/css">
        h1,
        h2,
        li,
        p {
            color: #5b5b5f
        }

        body,
        table {
            height: 100%
        }

        * {
            margin: 0;
            padding: 0;
            font-size: 10px;
            font-family: Arial
        }

        .banner-header {
            margin: 1px 0;
            width: 100%
        }

        .collapse {
            margin: 0;
            padding: 0
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%!important
        }

        h3 {
            font-size: 12px
        }

        h2 {
            font-size: 15px
        }

        h1 {
            margin-bottom: -10px;
            padding: 5px;
            font-size: 18px
        }

        p {
            padding: 2px 5px 2px
        }

        b {
            padding: 8px 0
        }

        .p-xsmall,
        .p-xsmall b {
            font-size: 8px
        }

        p-nolineh {
            line-height: 0
        }

        ul {
            padding-left: 25px
        }

        li {
            padding: 5px 0
        }

        table {
            border-collapse: collapse
        }

        .smoth,
        .smoth * {
            color: #989292;
            font-size: 10px;
        }

        .t-header {
            height: 15px;
            background-color: #5b5b5f;
            color: #fff;
            padding: 8px 10px
        }

        .td-space {
            width: 35%
        }

        .banner,
        .content table,
        .head-wrap,
        table.body-wrap {
            width: 100%
        }

        .header.container table td.logo {
            padding: 15px
        }

        .header.container table td.label {
            padding: 15px 15px 15px 0
        }

        .no-wrap {
            white-space: nowrap
        }

        table.footer-wrap {
            width: 100%;
            clear: both!important
        }

        .footer-wrap .container td.content p {
            border-top: 1px solid #d7d7d7;
            padding-top: 15px;
            font-size: 9px;
            font-weight: 700
        }

        .bordes {
            border: 1px solid #d3d3d3
        }

        .borde-left {
            border-left: 1px solid #d3d3d3
        }

        .borde-right {
            border-right: 1px solid #d3d3d3
        }

        .borde-bottom {
            border-bottom: 1px solid #d3d3d3
        }

        .borde-top {
            border-top: 1px solid #d3d3d3
        }

        .full-h {
            height: 100%
        }

        .wrapper {
            margin: auto;
            max-width: 1024px
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: Arial;
            line-height: 1.1;
            padding-left: 5px
        }

        .container {
            display: block!important;
            margin: 0 auto!important;
            clear: both!important
        }

        .clear,
        .content,
        .desktop {
            display: block
        }

        .content {
            padding: 10px 5px 0;
            margin: 0 auto
        }

        .no-padding {
            padding: 0!important
        }

        .pad-v-2 {
            padding-top: 2px;
            padding-bottom: 2px
        }

        .pad-h-2 {
            padding-left: 2px;
            padding-right: 2px
        }

        .column {
            width: 300px;
            float: left
        }

        .column tr td {
            padding: 15px
        }

        .column-wrap {
            padding: 0!important;
            margin: 0 auto
        }

        .column table {
            width: 100%
        }

        .clear {
            clear: both
        }

        .responsive {
            display: none
        }
    </style>
</head>

<body>
    <div class="wrapper">

        <table class="body-wrap" bgcolor="">
            <tr>
                <td></td>
                <td class="header container">
                    <div class="content">
                        <table>
                            <tr>
                                <td colspan="2"> 
                                    {{#codReservations}}<a href="http://www.cocha.com"> <img class="banner-header" src="{{headerImage corporationId}}" alt="Header"/> </a>{{/codReservations}}
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2" class="t-header">
                                    <h3>CONFIRMACIÓN DE COMPRA: GRACIAS {{#customerInfo}}{{upper firstName}}{{/customerInfo}}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;" class="bordes">
                                    <br>
                                    <h1 style="text-align: center;">Tu reserva ha sido confirmada.</h1>
                                    <br>
                                    <h2 style="text-align: center;">La reserva ha sido confirmada y el cargo se ha aplicado a tu tarjeta en pesos.</h2>
                                    <h2 style="text-align: center;">A continuación encontrarás los detalles de la reserva.</h2>
                                    <br> <br>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>        
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF">
                    <div class="content" style="margin: 0 0 10px; 0">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <h2>RESUMEN DEL VIAJE</h2>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {{#itineraryHotel}}
                    <div class="content desktop">
                        <table>
                            <tr>
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td colspan="2" class="t-header">
                                                <h3>Datos del hotel</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="borde-top borde-bottom borde-left full-h padding-2" style="width: 50%;">
                                                <!-- div class="borde-top borde-bottom borde-left full-h padding-2"-->
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <p> <b>{{capitalize name}}</b></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;{{{hotelCatImg}}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p class="smoth"> <small>{{{capitalize cityName}}}</small></p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                <!-- /div-->
                                            </td>
                                            <td class="borde-top borde-right borde-left borde-bottom full-h" style="width: 50%;">
                                                <!--div class="borde-top borde-right borde-left borde-bottom full-h"-->
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <p>{{adultCount}}&nbsp;Adultos &nbsp;|&nbsp;{{childCount}}&nbsp;Niños
                                                                    &nbsp;|&nbsp;{{nights}}&nbsp;Noches</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="max-width: 50px;">
                                                                <p>Entrada</p>
                                                            </td>
                                                            <td align="right">
                                                                <p class="no-wrap"> <b>{{capitalize checkInLongDate}}</b></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p>Salida</p>
                                                            </td>
                                                            <td align="right">
                                                                <p class="no-wrap"> <b>{{capitalize checkOutLongDate}}</b></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <p> <small>{{capitalize notes}}</small></p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                <!--/div-->
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {{/itineraryHotel}}
                    <div class="content">
                        <table>
                            {{#codReservations}}
                            <tr>
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td colspan="3" class="t-header">
                                                <h3>Identificador de la reserva</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 33%;">
                                                <table>
                                                    <tr>
                                                        <td class="borde-top borde-left borde-right" style="background-color: #f7f7f8; padding-left: 5px;">
                                                            <!--div class="borde-top borde-left borde-right" style="background-color: #f7f7f8; padding-left: 5px;"-->
                                                                <p>Número de reserva</p>
                                                            <!--/div-->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="borde-bottom borde-left borde-right" style="background-color: #f7f7f8; padding: 0 0 5px 5px;">
                                                            <!--div class="borde-bottom borde-left borde-right" style="background-color: #f7f7f8; padding: 0 0 5px 5px;"-->
                                                                <h2>{{codReservaHot}}</h2>
                                                            <!--/div-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width: 33%;">
                                                <table>
                                                    <tr>
                                                        <td  class="borde-top borde-right full-h" style="background-color: #f7f7f8; padding-left: 5px;">
                                                            <!--div class="borde-top borde-right full-h" style="background-color: #f7f7f8; padding-left: 5px;"-->
                                                                <p>Código interno</p>
                                                            <!--/div-->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="borde-bottom borde-right full-h" style="background-color: #f7f7f8; padding: 0 0 5px 5px;">
                                                            <!--div class="borde-bottom borde-right full-h" style="background-color: #f7f7f8; padding: 0 0 5px 5px;"-->
                                                                <h2>{{codReservaInt}}</h2>
                                                            <!--/div-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width: 33%;">
                                                <table>
                                                    <tr>
                                                        <td class="borde-top borde-right full-h" style="background-color: #f7f7f8; padding-left: 5px;">
                                                            <!--div class="borde-top borde-right full-h" style="background-color: #f7f7f8; padding-left: 5px;"-->
                                                                <p>Número de negocio</p>
                                                            <!--/div-->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td  class="borde-bottom borde-right full-h" style="background-color: #f7f7f8; padding: 0 0 5px 5px;">
                                                            <!--div class="borde-bottom borde-right full-h" style="background-color: #f7f7f8; padding: 0 0 5px 5px;"-->
                                                                <h2>{{numNegocio}}</h2>
                                                            <!--/div-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {{/codReservations}}
                        </table>
                    </div>
                    {{#itineraryHotel}}
                    <div class="content desktop">
                        <table>
                            <tr>
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td class="t-header">
                                                <h3>Habitaciones</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        {{#rooms}}
                                                        <td class="borde-left borde-bottom {{#if @last}}borde-right{{/if}}" style="width: 33%;">
                                                            <!--div class="borde-left borde-bottom {{#if @last}}borde-right{{/if}}"-->
                                                                <p> <b>HABITACIÓN&nbsp;{{id}}</b></p>
                                                                <p class="padding-2">{{capitalize roomType}}</p>
                                                                <p class="padding-2">Titular de la habitación: {{#reservationGuest}}{{capitalize
                                                                    firstName}}&nbsp;{{capitalize lastName}}{{/reservationGuest}}</p>
                                                                <p class="padding-2">Nº de confirmación: {{confirmationNumber}}</p>
                                                                <p class="padding-2">Huéspedes: Adultos &nbsp;{{adultCount}}&nbsp;,&nbsp;Niños
                                                                    &nbsp;{{childCount}}</p>
                                                            <!--/div-->
                                                        </td>
                                                        {{/rooms}}
                                                </table>
                                            </td>
                                            </tr>
                                    </table>
                                </td>
                                </tr>
                        </table>
                        {{!--
                        <table>
                            <tr>
                                {{#codReservations}}
                                <td align="left" style="width: 33%">
                                    <table style="margin-top: 10px;">
                                        <tr>
                                            <td>
                                                <div class="borde-top borde-left" style="background-color: #f7f7f8; padding-left: 5px;">
                                                    <p>CÓDIGO DE RESERVA DEL VUELO</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="borde-bottom borde-left" style="background-color: #f7f7f8; padding: 0 0 5px 5px;">
                                                    <h2>{{codReservaVue}}</h2>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="right" style="width: 33%">
                                    <table style="margin-top: 10px;">
                                        <tr>
                                            <td>
                                                <div class="borde-top borde-left borde-right" style="background-color: #f7f7f8; padding-left: 5px;">
                                                    <p>Nº DE CONFIRMACIÓN</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="borde-bottom borde-left borde-right" style="background-color: #f7f7f8; padding: 0 0 5px 5px;">
                                                    <h2>{{codReservaVou}}</h2>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="center" style="width: 33%">
                                    <table style="margin-top: 10px;">
                                        <tr>
                                            <td>
                                                <div class="borde-top borde-left borde-right" style="background-color: #f7f7f8; padding-left: 5px;">
                                                    <p>Nº DE RESERVA DEL HOTEL</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="borde-bottom borde-left borde-right" style="background-color: #f7f7f8; padding: 0 0 5px 5px;">
                                                    <h2>{{codReservaHot}}</h2>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                {{/codReservations}}
                            </tr>
                        </table>--}}
                    </div>
                    {{/itineraryHotel}}

                    <!-- payment data -->

                    <div class="content desktop">
                        <table>
                            <tr>
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td class="t-header">
                                                <h3>
                                                    Datos de pago
                                                </h3>
                                            </td>
                                            <td class="t-header">
                                            </td>                                            
                                            <td class="t-header" align="right">
                                                <h3>
                                                    Total Tarifa Hotel
                                                </h3>
                                            </td>                                            
                                        </tr>
                                        <tr>

                                                        <td class="borde-left borde-bottom" style="width: 33%;">
                                                            <!--div class="borde-left borde-bottom"-->
                                                                <p class="padding-2">Nombre Comprador: {{#customerInfo}}{{capitalize
                                                                    firstName}}&nbsp;{{capitalize lastName}}</p>
                                                                <p class="padding-2">Rut/Pasaporte: {{rut}}</p>
                                                                <p class="padding-2">Teléfono de contacto: {{homePhone}}</p>
                                                                {{/customerInfo}}
                                                            <!--/div-->
                                                        </td>
                                                        <td class="borde-left borde-bottom" style="width: 33%;">
                                                            <!--div class="borde-left borde-bottom"-->
                                                                <p class="padding-2">E-Mail: {{#customerInfo}}{{ email }}</p>
                                                                <p class="padding-2">Empresa: </p>
                                                                <p class="padding-2">&nbsp;</p>
                                                                {{/customerInfo}}
                                                            <!--/div-->
                                                        </td>
                                                        <td class="borde-left borde-right borde-bottom" style="width: 33%;" align="right">
                                                            <!--div class="borde-left borde-right borde-bottom"-->
                                                                <p class="padding-2">&nbsp;</p>
                                                                <p class="padding-2 h3" >
                                                                    <b>Total US$&nbsp;
                                                                        {{#paymentInfo}}
                                                                            {{#amounts}}
                                                                                {{ totalUSD }}
                                                                            {{/amounts}}         
                                                                        {{/paymentInfo}} 
                                                                    </b>
                                                                </p>
                                                                <p class="padding-2">&nbsp;</p>                                        
                                                            <!--/div-->
                                                        </td>                                                        

                                        </tr>
                                    </table>
                                </td>
                                </tr>
                        </table>

                    </div>

                    <!-- payment data -->

                    <div class="content" style="padding: 15px;  background-color: #FCF1DD !important; margin: 0px 5px;margin-top:15px;" bgcolor="#FCF1DD">
                        <table style="background-color: #FCF1DD !important;" bgcolor="#FCF1DD">
                            <tr>
                                <td>
                                    <h2>Políticas de cancelación</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="smoth">{{#itineraryHotel}} {{{cancellationPolicy}}} {{/itineraryHotel}}</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <br>
                                    <h2>Instrucciones de checkin</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="smoth">{{#itineraryHotel}} {{{policyDescription}}} {{/itineraryHotel}}</p>
                                </td>
                            </tr>
                            {{#if mandatoryFeeDescription}}
                            <tr>
                                <td>
                                    <p><b>Cargos</b></p>
                                    <p class="smoth">{{#itineraryHotel}} {{{mandatoryFeeDescription}}} {{/itineraryHotel}}</p>
                                </td>
                            </tr>
                            {{/if}}
                        </table>
                    </div>
                    <div class="content">

<div class="content condiciones-reserva" style="padding: 15px;  margin: 0px 5px;margin-top:15px;">
    <table>
        <tr>
            <td>
                <h2>CONDICIONES DE LA RESERVA</h2>
            </td>
        </tr>
        <tr>
            <td>
                <p class="smoth">
Anulaciones y Devoluciones:<br>
Los programas y servicio están sujetos a condiciones específicas para cada uno de ellos, las que sí lo tienen, las garantías adicionales, las multas, las anulaciones, las condiciones, las condiciones adicionales, las aplicaciones incluidas por los operadores y/o proveedores de servicios, las que se encuentran en la disposición de los compradores que declaran conocerlas y lo condicionan ,quedando Cocha SA liberados de toda responsabilidad a este respecto.<br>
                </p>            
            </td>
        </tr>
        <tr>
            <td>
                <p class="smoth">
Responsabilidades:<br>
Cocha SA declara explícitamente que la obra como intermediaria entre los viajeros y las entidades o personas llaman a facilitar los servicios que lo mantienen en el itinerario o al mar: empresas de transporte, hoteles, restaurantes, etc. Por lo anterior, Cocha SA no tiene responsabilidad por las deficiencias o incumplimientos en que puede incurrir la empresa prestadora de los servicios contratados, cuentos como retrocesos, cambio o modificación de itinerarios y/o errores, o daños en los equipajes o bienes, asignación de ubicaciones en medios de transporte y en habitaciones hoteleras, cancelaciones intempestivas de reservas y otros incumplimientos, cualquiera sea su causa. Tampoco tiene responsabilidad por los daños y perjuicios en la persona o los bienes del clientes y/o sus acompañantes, cualquiera que sea la causa de los daños, cuentos como accidentes, casos fortuitos, huelgas, guerras, restricciones gubernamentales, enfermedades, cuarentena, terremotos, clima o fuerza mayor o cualquier otra causa fuera del control de Cocha SA. Atención a lo anterior al cliente y sus acompañantes. Renuncia a un formulario o interpuesta reclamos. clase en contra de Cocha SA por concepto de devolución de valores pagados, gastos incurridos en alojamiento, manutención, transporte, perdidas, daños o perjuicios de cualquier naturaleza en su persona o bienes, por una o más de las causales señaladas, reclamos que dirigirá directamente en contra de la empresa prestadora del servicio, con sujeción a lo establecido en las condiciones generales aplicables al servicio contratado. Las compañias aéreas, marítimas y terrestres que intervinieron en estos viajes no pueden compartir responsables de cualquier acto, omisión o irregularidad que acaezca al pasajero en el tiempo en que este permanece fuera de los límites medios de transporte. El contrato del pasaje constituirá el único lazo que une a la compañía aérea con el comprador o viajero. <br>
                </p>            
            </td>
        </tr>         
        <tr>
            <td>
                <p class="smoth">         
Condiciones Generales:<br>
Cocha SA se reserva el derecho de alterar el itinerario publicado en esta guia de viajes si circunstancias o fuerza mayor obligada a ello para la mejor organización y desarrollo de las exclusiones; también se reserva el derecho de cancelar una excursión por no contar con un mínimo de participantes o fuerza mayor. Los itinerarios, servicios incluídos, hoteles y operadores utilizados en los programas publicados en esta guía pueden sufrir cambios sin previo aviso. El orden de las excursiones puede ser alterado dependiendo de las condiciones climáticas o razones de fuerza mayor para el buen desarrollo de los servicios. Los valores pueden sufrir modificaciones sin previo aviso. Por el hecho de inscribirse en el Tour, el cliente acepta todas y cada una de estas condiciones generales.<br>                
                </p>            
            </td>
        </tr>                                     
    </table>
</div>

                    </div>
                    <div class="content">
                        <table bgcolor="">
                            <tr>
                                <td align="center">
                                    <h2>¿Dudas?</h2>
                                    <p class="smoth"> Si aún tienes dudas o consultas, contáctate con nosotros llamando al <b>2 246 1300</b>                                        - opción 2,<br> o marca <b>*1300</b> (desde celulares), e indícanos el código de
                                        tu reserva.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                </tr>
        </table>
        <table class="footer-wrap">
            <tr>
                <td></td>
                <td class="container">
                    <div class="content">
                        <table>
                            <tr>
                                <td align="center">
                                    <p class="smoth"> Copyright 2016 | COCHA.com, All rights reserved.<br> Turismo COCHA S.A. | El Bosque Norte
                                        0430, Las Condes, Santiago - Chile.<br></p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p class="smoth">Supplied by Travelscape LLC</p>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <script>
        setTimeout(function () { window.PHANTOM_HTML_TO_PDF_READY = true; }, 500);
    </script>
</body>

</html>