<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0;padding: 0;">

<head style="margin: 0;padding: 0;">
    <meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;">
    <title style="margin: 0;padding: 0;">Cocha Viajes</title>
    <style type="text/css" style="margin: 0;padding: 0;">
        h1,
        h2,
        li,
        p {
            color: #5b5b5f
        }

        body,
        table {
            height: 100%
        }

        * {
            margin: 0;
            padding: 0;

            font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif
        }

        img {
            margin: 1px 0;
            max-width: 100%
        }

        .collapse {
            margin: 0;
            padding: 0
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%!important
        }

        h3 {
            font-size: 14px
        }

        h2 {
            font-size: 20px
        }

        h1 {
            margin-bottom: -10px;
            padding: 5px;
            font-size: 25px
        }

        p {
            padding: 6px 5px 5px
        }

        b {
            padding: 8px 0
        }

        .p-xsmall,
        .p-xsmall b {
            font-size: 10px
        }

        p-nolineh {
            line-height: 0
        }

        ul {
            padding-left: 25px
        }

        li {
            padding: 5px 0
        }

        table {
            border-collapse: collapse
        }

        .smoth,
        .smoth * {
            color: #5b5b5f
        }

        .t-header {
            height: 15px;
            background-color: #5b5b5f;
            color: #fff;
            padding: 10px
        }

        .td-space {
            width: 30%
        }

        .banner,
        .content table,
        .head-wrap,
        table.body-wrap {
            width: 100%
        }

        .header.container table td.logo {
            padding: 15px
        }

        .header.container table td.label {
            padding: 15px 15px 15px 0
        }

        .no-wrap {
            white-space: nowrap
        }

        table.footer-wrap {
            width: 100%;
            clear: both!important
        }

        .footer-wrap .container td.content p {
            border-top: 1px solid #d7d7d7;
            padding-top: 15px;
            font-size: 10px;
            font-weight: 700
        }

        .bordes {
            border: 1px solid #d3d3d3
        }

        .borde-left {
            border-left: 1px solid #d3d3d3
        }

        .borde-right {
            border-right: 1px solid #d3d3d3
        }

        .borde-bottom {
            border-bottom: 1px solid #d3d3d3
        }

        .borde-top {
            border-top: 1px solid #d3d3d3
        }

        .full-h {
            height: 100%
        }

        .wrapper {
            margin: auto;
            max-width: 700px
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.1;
            padding-left: 5px
        }

        .container {
            display: block!important;
            margin: 0 auto!important;
            clear: both!important
        }

        .clear,
        .content,
        .desktop {
            display: block
        }

        .content {
            padding: 10px 5px 0;
            margin: 0 auto
        }

        .no-padding {
            padding: 0!important
        }

        .pad-v-2 {
            padding-top: 2px;
            padding-bottom: 2px
        }

        .pad-h-2 {
            padding-left: 2px;
            padding-right: 2px
        }

        .column {
            width: 300px;
            float: left
        }

        .column tr td {
            padding: 15px
        }

        .column-wrap {
            padding: 0!important;
            margin: 0 auto;
            max-width: 700px!important
        }

        .column table {
            width: 100%
        }

        .clear {
            clear: both
        }

        .responsive {
            display: none
        }

        @media only screen and (max-width:700px) {
            h3,
            p {
                font-size: 12px
            }
            h2 {
                font-size: 15px
            }
            h1 {
                font-size: 20px
            }
            small {
                font-size: 11px
            }
            .p-xsmall,
            .p-xsmall b {
                font-size: 10px
            }
            .td-space {
                width: 10%
            }
            .desktop {
                display: none
            }
            .responsive {
                display: block
            }
        }
    </style>
</head>

<body style="margin: 0;padding: 0;height: 100%;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;width: 100%!important;">
    <div class="wrapper bordes" style="margin: auto;padding: 0;border: 1px solid #d3d3d3;max-width: 700px;">
        <table class="head-wrap" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="header container" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" style="margin: 0;padding: 0;"> <a href="http://www.cocha.com" style="margin: 0;padding: 0;"> <img style="width: 100%;margin: 1px 0;padding: 0;max-width: 100%;" src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/bd468681-479b-470f-b77b-cf5004b52ef2.png" alt="Header"> </a></td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                    <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">COTIZACIÓN DE VIAJE</h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="margin: 0;padding: 0;"></td>
            </tr>
        </table>
        <table class="body-wrap" bgcolor="" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="container" bgcolor="#FFFFFF" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin-top: 15px;margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" style="margin: 0;padding: 0;">
                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">CÓDIGO DE COTIZACIÓN: </h2>
                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">¡Hola!</p>
                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Gracias por cotizar en COCHA.com.</p>
                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Favor ​coméntanos si aún est​ás interesado ​en esta reserva ​para coordinar co​ntigo la confirmación y pago.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Datos del comprador</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" style="margin: 0;padding: 0;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    {{#paymentInfo}}
                                                    <div class="bordes" style="padding: 5px 0;margin: 0;border: 1px solid #d3d3d3;">
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Nombre Comprador: {{capitalize fullName}}</p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Rut/Pasaporte: {{rut}}</p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Teléfono de contacto: {{telephone}}</p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">E-Mail: {{email}}</p>
                                                    </div>
                                                    {{/paymentInfo}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                    <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Tu Viaje</h3>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top" style="height: 100%;width: 100%;margin: 0;padding: 0;">
                                    <div class="borde-bottom borde-left full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            &nbsp;
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                    <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Datos del hotel</h3>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0; width: 50%">
                                    <div class="borde-bottom borde-left full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            {{#itineraryHotel}}
                                            <tr style="margin: 0;padding: 0;">
                                                <td style="margin: 0;padding: 0;">
                                                    <p style="margin: 4px;color: #5b5b5f;"><b style="margin: 0; padding: 4px">{{capitalize name}}</b></p>
                                                    <div style="margin: 4px;">{{{hotelCatImg}}}</div>
                                                    <pstyle="margin: 0;"><small style="margin: 4px; padding: 0;color: #5b5b5f;">{{{capitalize cityName}}}</small></p>
                                                </td>
                                            </tr>
                                            {{/itineraryHotel}}
                                        </table>
                                    </div>
                                </td>
                                <td style="margin: 0;padding: 0;">
                                    <div class="borde-right borde-left borde-bottom full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            {{#itineraryHotel}}
                                            <tr style="margin: 0;padding: 0;">
                                                <td colspan="2" style="margin: 0;padding: 0;">
                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{adultCount}}&nbsp;Adultos&nbsp;|&nbsp;{{childCount}}&nbsp;Niños&nbsp;|&nbsp;{{nights}}&nbsp;Noches</p>
                                                </td>
                                            </tr>
                                            <tr style="margin: 0;padding: 0;">
                                                <td style="max-width: 50px;margin: 0;padding: 0;">
                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Entrada</p>
                                                </td>
                                                <td align="right" style="margin: 0;padding: 0;">
                                                    <p class="no-wrap" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;white-space: nowrap;"><b style="margin: 0;padding: 8px 0;">{{capitalize arrivalDate}}</b></p>
                                                </td>
                                            </tr>
                                            <tr style="margin: 0;padding: 0;">
                                                <td style="margin: 0;padding: 0;">
                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Salida</p>
                                                </td>
                                                <td align="right" style="margin: 0;padding: 0;">
                                                    <p class="no-wrap" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;white-space: nowrap;"><b style="margin: 0;padding: 8px 0;">{{capitalize departureDate}}</b></p>
                                                </td>
                                            </tr>
                                            {{/itineraryHotel}}
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {{#if flagTransfer }} {{#itineraryTransfer}}
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Tu traslado</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td style="margin: 0;padding: 0; width: 50%">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div style="padding: 5px 0;margin: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;border-top: 1px solid #d3d3d3;">
                                                        <p><b>Ida</b></p>
                                                        <p style="margin-bottom: 0px;"><b><i>Desde</i></b></p>
                                                        <p style="line-height:0.9; font-size: 11px;">{{airport}}</p>
                                                        <p style="margin-bottom: 0px;"><b><i>Hasta</i></b></p>
                                                        <p style="line-height:0.9; font-size: 11px;">{{hotel}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="margin: 0;padding: 0;width: 50%">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div style="padding: 5px 0;margin: 0;border: 1px solid #d3d3d3;">
                                                        <p><b>Vuelta</b></p>
                                                        <p style="margin-bottom: 0px;"><b><i>Desde</i></b></p>
                                                        <p style="line-height:0.9; font-size: 11px;">{{hotel}}</p>
                                                        <p style="margin-bottom: 0px;"><b><i>Hasta</i></b></p>
                                                        <p style="line-height:0.9; font-size: 11px;">{{airport}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td style="margin: 0;padding: 0; width: 50%">
                                        <div style="padding: 5px 0;margin: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3; height:100%;">
                                            <p><b>Equipaje incluido(Cantidad y tamaño)</b></p>
                                            <p style="line-height:0.9; font-size: 11px;">{{baggageIncluded}}</p>
                                            <p><b>Lugar de ubicación del traslado</b></p>
                                            <p style="line-height:0.9; font-size: 11px;">{{locationTransfers}}</p>
                                        </div>
                                    </td>
                                    <td style="margin: 0;padding: 0;width: 50%">
                                        <div style="padding: 5px 0;margin: 0;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3; height:100%;">
                                            <p><b>Documentos necesarios</b></p>
                                            <p style="line-height:0.9; font-size: 11px;">{{requiredDocuments}}</p>
                                            <p><b>Sillas de guagua</b></p>
                                            <p style="line-height:0.9; font-size: 11px;">{{babyChairs}}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/itineraryTransfer}} {{/if}} {{#if assistance}}
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Asistencia en viaje</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" style="margin: 0;padding: 0;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div class="bordes" style="padding: 5px 0;margin: 0;border: 1px solid #d3d3d3;">
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b>Viaje protegido con Universal Assistance</b></p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Plan: Travel Care Online</p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Asistencia médica en caso de enfermedad o accidente: </p>
                                                        <ul>
                                                            <li style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Europa: EUR 30.000</li>
                                                            <li style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Sudamérica: USD 12.000</li>
                                                            <li style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Nacional: USD 2.500</li>
                                                            <li style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Resto del mundo: USD 20.00</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/if}}
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                    <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Precio</h3>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" style="margin: 0;padding: 0;">
                                    <div class="borde-right borde-left borde-bottom" style="margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Pasajeros</b></p>
                                                </td>
                                                <td style="margin: 0;padding: 0;">
                                                    <div style="padding: 10px 5px;margin: 0;">
                                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td align="right" style="margin: 0;padding: 0;">
                                                                    {{#itineraryHotel}}
                                                                    <p class="no-padding" style="margin: 0;padding: 0!important;color: #5b5b5f;">Adultos&nbsp;{{adultCount}}</p>
                                                                    <p class="no-padding" style="margin: 0;padding: 0!important;color: #5b5b5f;">Niños&nbsp;{{childCount}}</p>
                                                                    {{/itineraryHotel}}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            {{#paymentInfo}} {{#amounts}}
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <div class="bordes" style="margin: 0;padding: 0;border: 1px solid #d3d3d3;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <h1 style="margin: 0;padding: 5px;font-size: 25px;color: #5b5b5f;margin-bottom: -10px;line-height: 1.1;padding-left: 5px;">Total a pagar</h1>
                                                </td>
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td align="right" style="margin: 0;padding: 0;">
                                                                <h1 style="margin: 0;padding: 5px;font-size: 25px;color: #5b5b5f;margin-bottom: -10px;line-height: 1.1;padding-left: 5px;">{{priceFilter totalCLP 'CLP'}}</h1>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td align="right" style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Precios de referencia. Tarifa sujeta a cambios.</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            {{/amounts}} {{/paymentInfo}}
                        </table>
                    </div>
                    <br style="margin: 0;padding: 0;">
                    <div class="content" style="margin-top: 20px;padding: 15px;background-color: rgb(247, 247, 248);margin: 0 auto;display: block;">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="font-family: Arial;font-size: 14px;vertical-align: top;">
                                        <p class="title" style="color: #5c5b60;font-size: 20px;font-weight: 700;">FORMAS DE PAGO</p>
                                        <p class="title" style="margin: 10px;color: #5c5b60;font-size: 17px;font-weight: 700;">Transferencia bancaria</p>
                                        <p style="margin: 10px;color: darkgrey;">
                                            Para realizar el pago a través de <b style="color:#5c5b60">Transferencia o déposito en efectivo</b>                                            debes realizar una transferencia a la siguiente cuenta bancaria:
                                        </p>
                                        <img src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/365945d9-3dfc-4f5d-b548-ff9bcdd063fe.png" style="width: 70px; margin: 5px 5px 0 10px;">
                                        <p style="margin: 5px 5px 5px 10px; color: #5c5b60;">Banco Crédito e Inversiones</p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            <span style="color:#5c5b60">Nombre cuenta:</span> Turismo Cocha S.A.
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            <span style="color:#5c5b60">Tipo de Cuenta:</span>Cuenta corriente
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            <span style="color:#5c5b60">Número:</span> 35415436
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            <span style="color:#5c5b60">Rut:</span> 81.821.100-7
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            Correo para envío de comprobante: <a href="mailto:">agenteinternet@cocha.com</a>
                                        </p>
                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
                                            Recuerde ingresar el <b style="color:#5c5b60">código de su reserva</b> en los
                                            comentarios de la transfrerencia.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="background-color: rgb(247, 247, 248)">
                                            <ul>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Una vez realizado el pago, debe enviar el comprobante de transferencia o depósito al mail indicado,
                                                    <b style="color:red">informando el código de su reserva</b> .
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    El pago con transferencia electrónica o depósito, solo podrá ser validado una vez recibido este
                                                    <b style="color:#5c5b60">comprobante</b> .
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">A pesar de contar con el comprobante de transferencia o depósito, la reserva
                                                    está sujeta a cambios y variaciones sin previo aviso.</li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Depósitos en <b style="color:#5c5b60">cheques</b> no son aceptados como
                                                    forma de pago.
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Transferencias desde <b style="color:#5c5b60">bancos internacionales</b>                                                    no son válidas.
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Depósitos en Servipag <b style="color:#5c5b60">no</b> son válidos.
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="font-family: Arial;font-size: 14px;vertical-align: top;">
                                        <p class="title" style="margin: 10px;color: #5c5b60;font-size: 17px;font-weight: 700;">Tarjetas de crédito u otros medios de pago</p>
                                        <img src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/04ceeeb6-2021-4351-b2ec-6117b7fe9b02.png" style="width: 235px; margin: 0 10px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="background-color: rgb(247, 247, 248)">
                                            <ul>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    Contactanos al teléfono 2 4641300 opción 2, informanos que tienes una reserva de internet que necesitas pagar indicando tu
                                                    código de reserva.
                                                </li>
                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">
                                                    O bien contactanos respondiendo este correo: <a href="mailto:agenteinternet@cocha.com">agenteinternet@cocha.com<a/>.
																				</li>
                                                                            </ul>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">
																		En el archivo adjunto se encuentra tu itinerario, favor verificar.. si existe algún error, háznoslo saber para modificarlos antes de pagar"
																		</p>
                                                                        <p style="margin: 5px 5px 5px 10px; color: darkgrey;">¡Queremos que tu única preocupación sea preparar
                                                                            tus maletas y que tengas un buen viaje!</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font-family: Arial;font-size: 14px;vertical-align: top;">
                                                                        <div style="background-color: rgb(247, 247, 248)">
                                                                            <p class="title" style="padding-top: 20px;margin: 10px;color: #5c5b60;font-size: 17px;font-weight: 700;">Políticas de cancelación</p>
                                                                            <ul>
                                                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Esta cotización tiene un plazo máximo de 4hs a partir de la llegada de este correo a su destinatario, cualquier pago realizado fuera de los plazos queda sujeto a disponibilidad.</li>
                                                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Toda aceptación de oferta realizada por medio
                                                                                    de este sitio quedará sujeta a la condición
                                                                                    de que COCHA valide la transacción después
                                                                                    de verificar que exista la disponibilidad
                                                                                    de espacios aéreos y/o terrestres y que
                                                                                    valide y acepte el medio de pago ofrecido
                                                                                    por el usuario. COCHA no puede garantizar
                                                                                    disponibilidad ni precio final de los
                                                                                    servicios hasta completar este proceso
                                                                                    de pago y verificaciones.</li>
                                                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Los valores y vigencias de las reservas pueden
                                                                                    variar sin previo aviso, y solo quedarán
                                                                                    garantizadas con el pago y emisión de
                                                                                    los servicios.</li>
                                                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Las anulaciones no serán reembolsables o
                                                                                    pueden estar sujetas a multas de acuerdo
                                                                                    a las regulaciones y restricciones de
                                                                                    la aerolínea.</li>
                                                                                <li style="font-size: 12px;margin: 4px 0 4px 4px;">Para compras realizadas en www.cocha.com
                                                                                    no aplica derecho a retracto establecido
                                                                                    en la ley 19.496 para compras no presenciales.</li>
                                                                            </ul>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                    </div>
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table bgcolor="" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" style="margin: 0;padding: 0;">
                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">¿Dudas?</h2>
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Si aún tienes dudas o consultas, contáctate con nosotros llamando al <b style="margin: 0;padding: 8px 0;color: #5b5b5f;">2 246 1300</b>                                        - opción 2, o marca <b style="margin: 0;padding: 8px 0;color: #5b5b5f;">*1300</b>                                        (desde celulares), e indícanos el código de tu reserva.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <table class="footer-wrap" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;clear: both!important;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="container" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <div class="borde-top borde-bottom" style="padding: 15px;margin: 0;border-bottom: 1px solid #d3d3d3;border-top: 1px solid #d3d3d3;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td class="td-space" style="margin: 0;padding: 0;width: 30%;">&nbsp;</td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://www.facebook.com/Cochaviajes" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Facebook"></a></td>
                                    <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://twitter.com/cochaviajes" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Twitter"></a></td>
                                    <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Youtube" /></a></td>
                                    <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://instagram.com/cochaviajes/" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Instagram"/></a></td>
                                    <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://pinterest.com/cochaviajes/" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-pinterest-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Pinterest"/></a></td>
                                    <td class="td-space" style="margin: 0;padding: 0;width: 30%;">&nbsp;</td>
                                </tr>
                        </table>
                        </div>
                </td>
            </tr>
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;">&nbsp;</td>
            </tr>
        </table>
        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
            <tr style="margin: 0;padding: 0;">
                <td align="center" style="margin: 0;padding: 0;">
                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Copyright 2016 | COCHA.com, All rights reserved. Turismo COCHA S.A. | El Bosque Norte 0430, Las Condes,
                        Santiago - Chile Ante cualquier duda puedes contactarte con nosotros al número <b style="margin: 0;padding: 8px 0;color: #5b5b5f;">22464 1300</b>,
                        desde celulares al <b style="margin: 0;padding: 8px 0;color: #5b5b5f;">*1300</b> o escribirnos
                        <a href="mailto:agenteinternet@cocha.com" style="margin: 0;padding: 0;color: #5b5b5f;">aquí</a>.</p>
                </td>
            </tr>
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;">&nbsp;</td>
            </tr>
            <tr style="margin: 0;padding: 0;">
                <td align="center" style="margin: 0;padding: 0;">
                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"> <a href="#" style="margin: 0;padding: 0;color: #5b5b5f;">Terminos y condiciones</a> |
                        <a href="http://www.cocha.com/politicas-de-privacidad" style="margin: 0;padding: 0;color: #5b5b5f;">Políticas de privacidad</a>
                    </p>
                </td>
            </tr>
            <tr style="margin: 0;padding: 0;">
                <td align="center" style="margin: 0;padding: 0;">
                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Supplied by Travelscape LLC</p>
                </td>
            </tr>
        </table>
        </div>
        </td>
        <td style="margin: 0;padding: 0;"></td>
        </tr>
        </table>
    </div>
</body>

</html>