<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0;padding: 0;">
    <head style="margin: 0;padding: 0;">
        <meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;">
        <title style="margin: 0;padding: 0;">Cocha Viajes</title>
        <style type="text/css" style="margin: 0;padding: 0;">
            h1, h2, li, p {
                color: #5b5b5f
            }

            body, table {
                height: 100%
            }

            * {
                margin: 0;
                padding: 0;
                font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif
            }

            img {
                margin: 1px 0;
                max-width: 100%
            }

            .collapse {
                margin: 0;
                padding: 0
            }

            body {
                -webkit-font-smoothing: antialiased;
                -webkit-text-size-adjust: none;
                width: 100%!important
            }

            h3 {
                font-size: 14px
            }

            h2 {
                font-size: 20px
            }

            h1 {
                margin-bottom: -10px;
                padding: 5px;
                font-size: 25px
            }

            p {
                padding: 2px 5px 5px
            }

            b {
                padding: 8px 0
            }

            .p-xsmall, .p-xsmall b {
                font-size: 10px
            }

            p-nolineh {
                line-height: 0
            }

            ul {
                padding-left: 25px
            }

            li {
                padding: 5px 0
            }

            table {
                border-collapse: collapse
            }

            .smoth, .smoth * {
                color: #989292
            }

            .t-header {
                height: 15px;
                background-color: #5b5b5f;
                color: #fff;
                padding: 10px
            }

            .td-space {
                width: 30%
            }

            .banner, .content table, .head-wrap, table.body-wrap {
                width: 100%
            }

            .header.container table td.logo {
                padding: 15px
            }

            .header.container table td.label {
                padding: 15px 15px 15px 0
            }

            .no-wrap {
                white-space: nowrap
            }

            table.footer-wrap {
                width: 100%;
                clear: both!important
            }

            .footer-wrap .container td.content p {
                border-top: 1px solid #d7d7d7;
                padding-top: 15px;
                font-size: 10px;
                font-weight: 700
            }

            .bordes {
                border: 1px solid #d3d3d3
            }

            .borde-left {
                border-left: 1px solid #d3d3d3
            }

            .borde-right {
                border-right: 1px solid #d3d3d3
            }

            .borde-bottom {
                border-bottom: 1px solid #d3d3d3
            }

            .borde-top {
                border-top: 1px solid #d3d3d3
            }

            .full-h {
                height: 100%
            }

            .wrapper {
                margin: auto;
                max-width: 700px
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                line-height: 1.1;
                padding-left: 5px
            }

            .container {
                display: block!important;
                margin: 0 auto!important;
                clear: both!important
            }

            .clear, .content, .desktop {
                display: block
            }

            .content {
                padding: 10px 5px 0;
                margin: 0 auto
            }

            .no-padding {
                padding: 0!important
            }

            .pad-v-2 {
                padding-top: 2px;
                padding-bottom: 2px
            }

            .pad-h-2 {
                padding-left: 2px;
                padding-right: 2px
            }

            .column {
                width: 300px;
                float: left
            }

            .column tr td {
                padding: 15px
            }

            .column-wrap {
                padding: 0!important;
                margin: 0 auto;
                max-width: 700px!important
            }

            .column table {
                width: 100%
            }

            .clear {
                clear: both
            }

            .responsive {
                display: none
            }

            @media only screen and (max-width: 700px) {
                h3, p {
                    font-size: 12px
                }

                h2 {
                    font-size: 15px
                }

                h1 {
                    font-size: 20px
                }

                small {
                    font-size: 11px
                }

                .p-xsmall, .p-xsmall b {
                    font-size: 10px
                }

                .td-space {
                    width: 10%
                }

                .desktop {
                    display: none
                }

                .responsive {
                    display: block
                }
            }
        </style>
    </head>
    <body style="margin: 0;padding: 0;height: 100%;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;width: 100%!important;">
        <div class="wrapper bordes" style="margin: auto;padding: 0;border: 1px solid #d3d3d3;max-width: 700px;">
            <table class="head-wrap" style="margin: 0;padding: 0;height: 142px;border-collapse: collapse;width: 100%;">
                <tbody>
                    <tr style="margin: 0;padding: 0;">
                        <td style="margin: 0;padding: 0;"></td>
                        <td class="header container" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                            <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                                <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                    <tbody>
                                        <tr style="margin: 0;padding: 0;">
                                            <td colspan="2" style="margin: 0;padding: 0;">
                                                <a href="http://www.cocha.com" style="margin: 0;padding: 0;">
                                                    <img style="width: 100%;margin: 1px 0;padding: 0;max-width: 100%;" src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/bd468681-479b-470f-b77b-cf5004b52ef2.png" alt="Header">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr style="margin: 0;padding: 0;">
                                            <td align="center" colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                                <h3 style="margin: 0;padding: 0;font-size: 15px;line-height: 1.1;padding-left: 5px; font-weight: 100">SOLICITUD DE OTROS MEDIOS DE PAGO RECIBIDA</h3>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td style="margin: 0;padding: 0;"></td>
                    </tr>
                </tbody>
            </table>
            <table class="body-wrap" bgcolor="" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                <tbody>
                    <tr style="margin: 0;padding: 0;">
                        <td style="margin: 0;padding: 0;"></td>
                        <td class="container" bgcolor="#FFFFFF" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                            <div class="content" style="float: right;margin-top: 15px;margin: 0 auto;padding: 10px 5px 0;display: block;">
                                <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                    <tbody>
                                        <tr style="margin: 0;padding: 0;">
                                            <td colspan="2" style="/* width: 275px; */margin: 0;padding: 0;">
                                                <div style="border: 6px solid rgb(81,81,79);width: 275px;height: 40px;">
                                                    <div style="border: 1px solid white; color: white; height: 14px; width: 177px; font-size: 15px; margin: 0; float: left; padding: 11px 0px 13px 5px; background-color: #51514f;">CÓDIGO DE SOLICITUD</div>
                                                    <div style="font-size: 20px;color: #5b5b5f;font-weight: 600;height: 26px;float: right;width: 85px;padding: 10px 0px 0 0px;">{{spnr}}</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                                <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                    <tbody style="margin: 0;padding: 0;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td colspan="2" class="t-header" style="font-size: 20px;margin: 0;padding: 5px;height: 15px;background-color: white;color: #51514f;">
                                                <h3 style="padding-left: 0; font-weight: 100;margin: 0;padding: 0;font-size: 20px;line-height: 1.1;">{{contactNames}}</h3>
                                            </td>
                                        </tr>
                                        <tr style="margin: 0;padding: 0;">
                                            <td colspan="2" style="margin: 0;padding: 0;">
                                                <p style="margin-left:5px; font-size: 13px; color: #9892a0;">Hemos recibido tu solicitud. Nuestros ejecutivos validarán la disponibilidad de tu tarifa y te contactarán para coordinar el pago según el método que más prefieras:</p>
                                                <ul style="font-size: 12px; margin: 20px;">
                                                    <li style="padding: 0; color: #51514f;">Transfererencia desde otros bancos.</li>
                                                    <li style="padding: 0; color: #51514f;">Pago en efectivo.</li>
                                                    <li style="padding: 0; color: #51514f;">Múltiples tarjetas de crédito.</li>
                                                    <li style="padding: 0; color: #51514f;">Transferencia electrónica, tarjeta de crédito, o ambas.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                                <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                    <tbody style="margin: 0;padding: 0;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td>
                                                <p style="color: #5b5b5f;font-size: 12px;background-color: #fdf5e7;padding: 10px;">Es importante estés informado que los valores y vigencia de tu solicitud pueden
                                                variar. Solo el pago, confirmación y emisión de los servicios garantizará
                                                tu compra.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                                <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                    <tbody style="margin: 0;padding: 0;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td colspan="2" class="t-header" style="font-size: 20px;margin: 0;padding: 5px;height: 15px;background-color: white;color: #5b5b5f;">
                                                <h3 style="padding-left: 0; font-weight: 100;margin: 0;padding: 0;font-size: 20px;line-height: 1.1;">Datos de contacto</h3>
                                            </td>
                                        </tr>
                                        <tr style="margin: 0;padding: 0;">
                                            <td colspan="2" style="margin: 0;padding: 0;">
                                                <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                    <tbody>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td valign="top" style="margin: 0;padding: 0; width: 50%">
                                                                <div style="margin: 0; border-bottom: 1px solid #d3d3d3">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Nombre</p>
                                                                    <p style="font-size: 13px;margin: 0 0 0 1px;padding: 0px 5px 5px;color: darkgray;">{{contactNames}}</p>
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">E-Mail</p>
                                                                    <p style="font-size: 13px;margin: 0 0 0 1px;padding: 0px 5px 5px;color: darkgray;">{{contactEmail}}</p>
                                                                </div>
                                                            </td>
                                                            <td valign="top" style="margin: 0;padding: 0; width: 50%">
                                                                <div style="margin: 0; border-bottom: 1px solid #d3d3d3">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Teléfono de contacto</p>
                                                                    <p style="font-size: 13px;margin: 0 0 0 1px;padding: 0px 5px 5px;color: darkgray;">{{contactPhone}}</p>
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">&nbsp;</p>
                                                                    <p style="font-size: 13px;margin: 0 0 0 1px;padding: 0px 5px 5px;color: darkgray;">&nbsp;</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                                <table bgcolor="" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                    <tbody>
                                        <tr style="margin: 0;padding: 0;">
                                            <td align="center" style="margin: 0;padding: 0;">
                                                <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">¿Dudas?</h2>
                                                <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">
                                                    Si aún tienes dudas o consultas, contáctate con nosotros llamando al 
                                                    <b style="margin: 0;padding: 8px 0;color: #989292;">
                                                        2 464 1085                                                 - opción 2, o marca <b style="margin: 0;padding: 8px 0;color: #989292;">*1300                                              (desde celulares), e indícanos el código de tu reserva, o bien escríbenos al correo agenteinternet@cocha.com.
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="footer-wrap" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;clear: both!important;">
                <tbody>
                    <tr style="margin: 0;padding: 0;">
                        <td style="margin: 0;padding: 0;"></td>
                        <td class="container" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                            <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                                <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                    <tbody>
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-top borde-bottom" style="padding: 15px;margin: 0;border-bottom: 1px solid #d3d3d3;border-top: 1px solid #d3d3d3;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tbody>
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td class="td-space" style="margin: 0;padding: 0;width: 30%;">&nbsp;</td>
                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;">
                                                                    <a href="https://www.facebook.com/Cochaviajes" target="_blank" style="margin: 0;padding: 0;">
                                                                        <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Facebook">
                                                                    </a>
                                                                </td>
                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;">
                                                                    <a href="https://twitter.com/cochaviajes" target="_blank" style="margin: 0;padding: 0;">
                                                                        <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Twitter">
                                                                    </a>
                                                                </td>
                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;">
                                                                    <a href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg" target="_blank" style="margin: 0;padding: 0;">
                                                                        <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Youtube">
                                                                    </a>
                                                                </td>
                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;">
                                                                    <a href="https://instagram.com/cochaviajes/" target="_blank" style="margin: 0;padding: 0;">
                                                                        <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Instagram">
                                                                    </a>
                                                                </td>
                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;">
                                                                    <a href="https://pinterest.com/cochaviajes/" target="_blank" style="margin: 0;padding: 0;">
                                                                        <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-pinterest-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Pinterest">
                                                                    </a>
                                                                </td>
                                                                <td class="td-space" style="margin: 0;padding: 0;width: 30%;">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                    <tbody>
                                        <tr style="margin: 0;padding: 0;">
                                            <td align="center" style="margin: 0;padding: 0;">
                                                <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">
                                                    Copyright 2016 | COCHA.com, All rights reserved. Turismo COCHA S.A. | El Bosque
                                                Norte 0430, Las Condes, Santiago - Chile Ante cualquier duda puedes contactarte
                                                con nosotros al número 
                                                    <b style="margin: 0;padding: 8px 0;color: #989292;">
                                                        22464 1300,
                                                desde celulares al 
                                                        <b style="margin: 0;padding: 8px 0;color: #989292;">
                                                            *1300                                                o escribirnos
                                                <a href="mailto:agenteinternet@cocha.com" style="margin: 0;padding: 0;color: #989292;">aquí</a>
                                                            .
                                                </p>
                                            </td>
                                        </tr>
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">&nbsp;</td>
                                        </tr>
                                        <tr style="margin: 0;padding: 0;">
                                            <td align="center" style="margin: 0;padding: 0;">
                                                <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">
                                                    <a href="#" style="margin: 0;padding: 0;color: #989292;">Terminos y condiciones</a>
                                                    |
                                                <a href="http://www.cocha.com/politicas-de-privacidad" style="margin: 0;padding: 0;color: #989292;">Políticas de privacidad</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td style="margin: 0;padding: 0;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
